/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

&mwh {
	acceleration-exponent=<1>;
};

/ {
	behaviors {
		hm: balanced_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <1000>;    // <---[[moderate duration]]
			//quick-tap-ms = <125>;
			flavor = "balanced";
			bindings = <&kp>, <&kp>;
		};
	};
	combos {
		compatible = "zmk,combos";
	 	combo_l5 {
	 		timeout-ms = <100>;
	 		key-positions = <41 42>;
	 		bindings = <&mo 4>;
	 	};
	 	combo_rbtl {
	 		timeout-ms = <100>;
	 		key-positions = <40 41 42>;
	 		bindings = <&bootloader>;
	 	};
	};
	keymap {
		compatible = "zmk,keymap";
		default_layer { /* Default */	/* 0 */
			bindings = <
	&kp ESC		&kp Q		&kp W		&kp E		&kp R	 	&kp T				&kp Y		&kp U		&kp I		&kp O		&kp P		&kp RET
	&kp LCTRL	&hm LCTRL A	&kp S		&kp D		&kp F		&kp G				&kp H		&kp J		&kp K		&kp L		&hm RCTRL SEMI	&kp RCTRL
	&kp LSHFT	&hm LSHFT Z	&kp X		&kp C		&kp V		&kp B				&kp N		&kp M		&kp COMMA	&kp DOT		&hm RSHFT FSLH	&kp RSHFT
					&mkp MB1	&kp LGUI	&kp RALT	&kp LCTRL			&lt 2 SPACE	&mo 1		&mo 3		&kp B  
		>;
		};
	num_layer { /* number */	/* L1 */
			bindings = <
	&trans		&kp N1		&kp N2		&kp N3		&kp N4		&kp N5				&kp N6		&kp N7		&kp N8		&kp N9		&kp N0		&trans
	&trans		&hm LCTRL GRAVE	&kp BSLH	&kp DEL		&kp LBKT	&kp RBKT			&kp BSPC	&kp RET         &kp MINUS	&kp EQUAL	&hm RCTRL SQT	&trans
	&trans		&hm LSHFT F1	&kp F2		&kp F3		&kp F4		&kp F5				&kp F6		&kp F7		&kp F8		&kp F9		&hm RSHFT F10	&trans
					&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans
		>;
		};
		nav_layer { /* Navigation */	/* L2 */
			bindings = <
	&trans		&none		&none		&kp END		&mkp MB3	&kp PGUP			&kp PSCRN	&mkp MB2	&kp TAB		&mwh SCROLL_UP	&kp UP		&trans
	&trans		&hm LCTRL HOME 	&none		&kp DEL		&kp RIGHT	&kp PGDN			&kp BSPC	&kp RET		&mwh SCROLL_LEFT &mwh SCROLL_DOWN &mwh SCROLL_RIGHT &trans	
	&trans		&none		&none		&none		&none		&kp LEFT			&kp DOWN	&none	 	&none		&none		&none		&trans
					&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans
		>;
		};
		sym_layer { /* Symbol */	/* L3 */
			bindings = <
	&trans		&kp EXCL	&kp AT		&kp HASH	&kp DLLR	&kp PRCNT			&kp CARET	&kp AMPS	&kp STAR	&kp LPAR	&kp RPAR	&trans
	&trans		&hm LCTRL TILDE	&kp PIPE	&none		&kp LBRC	&kp RBRC			&none		&none		&kp UNDER	&kp PLUS	&hm RCTRL DQT	&trans
	&trans		&none		&none		&none		&kp LBRC	&kp RBRC			&none		&none		&none		&none		&none		&trans
						 	&trans		&trans		&trans				&trans		&trans		&trans
		>;
		};
		cnt_layer { /* Control */	/* L4 */
			bindings = <
	&trans		&none		&none		&none		&kp C_BRI_UP	&kp C_VOL_UP			&none		&none		&none		&none		&bt BT_CLR	&trans
	&trans		&trans		&none		&none		&trans		&kp C_MUTE			&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4	&bt BT_SEL 5	&none		&trans	
	&trans		&trans		&none		&none		&kp C_BRI_DN	&kp C_VOL_DN			&none		&none		&none		&none		&out OUT_TOG	&trans	
							&trans		&trans		&trans				&trans		&trans		&trans
		>;
		};
	};
};
 
