/*
 * Copyright (c) 2024 KyouTansan
 * SPDX-License-Identifier: MIT
 */
#include "corne_tpsg_sxb.dtsi"
&default_transform {	col-offset = <0>;};
&kscan0 {
	col-gpios
		= <&xiao_d 9  GPIO_ACTIVE_HIGH>
		, <&xiao_d 8  GPIO_ACTIVE_HIGH>
		, <&xiao_d 7  GPIO_ACTIVE_HIGH>
		, <&xiao_d 15 GPIO_ACTIVE_HIGH>
		, <&xiao_d 11 GPIO_ACTIVE_HIGH>
		, <&xiao_d 12 GPIO_ACTIVE_HIGH>
		;
};

&adc {
	status = "okay";
};

&xiao_d {
compatible = "seeed,xiao-gpio";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map
			= <0  0 &gpio0 2 0>		/* D0/A0 LED */
			, <1  0 &gpio0 3 0>		/* D1/A1 for strain gauge x */
			, <2  0 &gpio0 28 0>		/* D2/A2 for strain gauge y */
			, <3  0 &gpio0 29 0>		/* D3/A3 R3 */
			, <11  0 &gpio0 4 0>		/* D4/A4 SDA */
			, <12  0 &gpio0 5 0>		/* D5/A5 SCL */
			, <6  0 &gpio1 11 0>		/* D6    R0 */
			, <7  0 &gpio1 12 0>		/* D7    C2 */
			, <8  0 &gpio1 13 0>		/* D8    C1 */
			, <9  0 &gpio1 14 0>		/* D9    C0 */
			, <10 0 &gpio1 15 0>		/* D10   R2 */
			, <14 0 &gpio0 9 0>		/* N1    R1 orig NFC1 */
			, <15 0 &gpio0 10 0>		/* N2    C3 orig NFC2 */
			;
};

#include <dt-bindings/led/led.h>
&spi1 {
  compatible = "nordic,nrf-spim";
  status = "okay";
  //mosi-pin = <47>; /* 32x + y ex. D10(P1.15)=47 */
  mosi-pin = <2>; /* 32x + y ex. D0(P0.02)=2 */
  // Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
  sck-pin = <8>;
  miso-pin = <12>;

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "WS2812";
     /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;
     /* WS2812 */
    chain-length = <27>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
//    color-mapping = <LED_COLOR_ID_GREEN
//                          LED_COLOR_ID_RED
//                          LED_COLOR_ID_BLUE>;
  };
};
/ {
	chosen {
		zmk,underglow = &led_strip;
	};
};
