if SHIELD_WINGS42_SG_LEFT

config ZMK_KEYBOARD_NAME
	default "Wings42_SG Left"

endif

if SHIELD_WINGS42_SG_RIGHT

config ZMK_KEYBOARD_NAME
	default "Wings42_SG"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
endif

if SHIELD_WINGS42_SG_LEFT || SHIELD_WINGS42_SG_RIGHT

config ZMK_SPLIT
	default y

# config  ZMK_KSCAN_COMPOSITE_DRIVER
#	default y

endif
