/*
 * Copyright (c) 2022 KyouTansan
 *
 * SPDX-License-Identifier: MIT
 */

#include "wings42_sg.dtsi"

&default_transform {
	col-offset = <10>;
};

&kscan1 {
	col-gpios
		= <&pro_micro   11 GPIO_ACTIVE_HIGH> /* extended */
		, <&pro_micro   12 GPIO_ACTIVE_HIGH> /* extended */
		, <&pro_micro   17 GPIO_ACTIVE_HIGH> /* extended */
		, <&pro_micro   18 GPIO_ACTIVE_HIGH>
		, <&pro_micro   15 GPIO_ACTIVE_HIGH>
		, <&pro_micro   14 GPIO_ACTIVE_HIGH>
		;
};

&direct_rsw {
	debounce-period = <50>;
	input-gpios = <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	status = "okay";
};

&direct_rre {
	status = "disabled";
};

&right_encoder {
	status = "okay";
};

