# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_TRACK_POINT
	bool "ZMK track point strain gauge"
	select ADC
	help
	  Enable ZMK track point driver with strain gauge.

config ZMK_TRACK_POINT_VARIANCE
	int "zmk track point value calibration"
	default 10
	help
	  Calibration strain gauge value by variance of ADC value.
	  
config ZMK_TRACK_POINT_SCAN_TIME
	int "ZMK track point scan period"
	default 50
	help
	  msec.
	
config ZMK_TRACK_POINT_REDUCE_POWER_CONSUMPTION
       bool "Reduce power for zmk track point strain gauge."
       help
	 Reduce power consumption of ZMK track point strain gauge.

config ZMK_TRACK_POINT_POWER_CHARGE_UP_TIME
       int "Init charge up time for strain gauge and OPAmp"
       default 0
       help
         Init charge up time for strain gauge and ope-amp.


config ZMK_TRACK_POINT_ATTEN_X_SQUARE_PLUS_CP
       int "X-square attenuation due to Wheatstone bridge for plus/right area on constant power consumption mode"
       default 13
       help
         X-square attenuation due to Wheatstone bridge for plus/right area on constant power consumption mode.

config ZMK_TRACK_POINT_ATTEN_X_SQUARE_MINUS_CP
       int "X-square attenuation due to Wheatstone bridge for minus/left area on constant power consumption mode"
       default 13
       help
         X-square attenuation due to Wheatstone bridge for minus/left area on constant power consumption mode.

config ZMK_TRACK_POINT_ATTEN_Y_SQUARE_PLUS_CP
       int "Y-square attenuation due to Wheatstone bridge for plus/down area on constant power consumption mode"
       default 13
       help
         Y-square attenuation due to Wheatstone bridge for plus/down area on constant power consumption mode.

config ZMK_TRACK_POINT_ATTEN_Y_SQUARE_MINUS_CP
       int "Y-square attenuation due to Wheatstone bridge for minus/up area on constant power consumption mode"
       default 13
       help
         Y-square attenuation due to Wheatstone bridge for minus/up area on constant power consumption mode.


config ZMK_TRACK_POINT_ATTEN_X_SQUARE_PLUS_RP
       int "X-square attenuation due to Wheatstone bridge for plus/right area on reduce power consumption mode"
       default 10
       help
         X-square attenuation due to Wheatstone bridge for plus/right area on reduce power consumption mode.

config ZMK_TRACK_POINT_ATTEN_X_SQUARE_MINUS_RP
       int "X-square attenuation due to Wheatstone bridge for minus/left area on reduce power consumption mode"
       default 13
       help
         X-square attenuation due to Wheatstone bridge for minus/left area on reduce power consumption mode.

config ZMK_TRACK_POINT_ATTEN_Y_SQUARE_PLUS_RP
       int "Y-square attenuation due to Wheatstone bridge for plus/down area on reduce power consumption mode"
       default 12
       help
         Y-square attenuation due to Wheatstone bridge for plus/down area on reduce power consumption mode.

config ZMK_TRACK_POINT_ATTEN_Y_SQUARE_MINUS_RP
       int "Y-square attenuation due to Wheatstone bridge for minus/up area on reduce power consumption mode"
       default 11
       help
         Y-square attenuation due to Wheatstone bridge for minus/up area on reduce power consumption mode.



