# Copyright (c) 2022 KyouTansan
# SPDX-License-Identifier: MIT

config SHIELD_WINGS42_TPSG_LEFT
	def_bool $(shields_list_contains,wings42_tpsg_left)

config SHIELD_WINGS42_TPSG_RIGHT
	def_bool $(shields_list_contains,wings42_tpsg_right)
